<header class="zoom">
    <img src="assets/CODE2.jpeg">
</header>
<main role="main">
    <div class="content">
        <h1>What is TheCodeFather?</h1>
        <p>To put it simply, TheCodeFather is a friendly way to learn software development! I understand most people learn in different ways, which is why I help people learn software development in as many ways as possible...for FREE! Videos, Blogs, and I even let you have total access to code snippets that I have designed! Make sure to Subscribe to our YouTube channel to keep up to date and be notified when we upload new videos! </p>      
    </div>
</main>

<script>
$(window).scroll(function() {
  var scroll = $(window).scrollTop();
    $(".zoom img").css({
        width: (100 + scroll/5)  + "%",
        top: -(scroll/10)  + "%",
        //Blur suggestion from @janwagner: http://codepen.io/janwagner/ in comments
        //"-webkit-filter": "blur(" + (scroll/200) + "px)",
        //filter: "blur(" + (scroll/200) + "px)"
    });
});
</script>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>