<img src="assets/coding.jpeg" img class="col-xs-12 banner"/>

<h1 class="col-xs-12 contentt"> What is TheCodeFather? </h1>
<p class="col-xs-12 contentp"> TheCodeFather.com was made in order to help you learn software development skills and techniques! From videos, blogs, and even a community forum, we offer multiple ways to learn...all for FREE. People learn in different ways, and we recognize that, we think it's extremely important to cater to all styles of learning. Remember, don't just learn, be sure to put your newly learned skills into practice! </p>

<!-- Social Media Icons -->
<div class="socialscale">
<img src="assets/youtubelogo.png" img class="youtube" hspace="40"/>
<img src="assets/twitter.png" img class="twitter" hspace="40"/>
<img src="assets/facebooklogo.png" img class="facebook" hspace="40"/>
<br><br><br>

<!-- Line Divider -->
<div class="border-separator col-xs-12">
<h1 class="videostitle col-xs-12">Check Out Our Videos!</h1>
<p class="videoscontent col-xs-12">Learn by seeing it done in front of you? This is the section for you! We offer videos from beginner to advanced levels. These videos consist of learning basics of languages, frameworks, solving algorithms, and even doing actual projects where you can follow along! We also talk about furthering your actual career in the software programming field!</p>
<img src="assets/videosimac.png" img class="videosimac col-xs-6"/>
</div>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Line Divider 
<div class="border-separator2"></div>
-->

<!-- Line Divider 
<div class="border-separator"></div>
-->