<!-- Hero Image -->
<div class="hero">
    <div class="hero_spacer">
        <img src="assets/hero.jpg" class="hero2" />
    </div>
</div>

<!-- SOCIAL MEDIA SECTION
<div class="aboutme col-lg-12 col-xs-12" align="center">
<h1 style="color: #c31717;" class="col-xs-12"> Follow Us On Social Media! </h1>
<br>
	<i class="fa fa-facebook smicon fa-5x" aria-hidden="true"></i>
	<i class="fa fa-twitter smicon fa-5x" aria-hidden="true"></i>
	<i class="fa fa-youtube smicon fa-5x" aria-hidden="true"></i>
	<i class="fa fa-instagram smicon fa-5x" aria-hidden="true"></i>
<hr>
</div>
-->
