<img src="assets/codefatherbanner.jpeg" img class="col-lg-12 col-xs-12"/>
<div class="col-lg-12">

<div class="col-lg-6">
	<h1 class="col-lg-12 contentt" style="text-align: center;"> What is TheCodeFather? </h1>
	<p class="col-lg-12 contentp" style="text-align: center;"> TheCodeFather.com was made in order to help you learn software development skills and techniques! From videos, blogs, and even a community forum, we offer multiple ways to learn...all for FREE. People learn in different ways, and we recognize that, we think it's extremely important to cater to all styles of learning. Remember, don't just learn, be sure to put your newly learned skills into practice! </p>
</div>

<div class="col-lg-6 icons"> <!-- social icons will go here -->
<i class="fa fa-youtube youtube" style="font-size:150px;color:black"></i>
<i class="fa fa-twitter twitter" style="font-size:150px;color:black"></i>
<i class="fa fa-facebook facebook" style="font-size:150px;color:black"></i>
<br><br><br><br>
</div>



<section>  
  <div class="content col-lg-6 pull-right">
    <h1 class="col-lg-12 contentt">Video Title Goes Here</h1>
    <p class="col-lg-12 contentp">Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.</p>
 </div>

 <div class="col-lg-6 pull-left">
 <img src="assets/videosimac.png" img class="col-lg-12 imacvideos"/>
 </div>
</section>






<section>
  <div class="content col-lg-6 pull-left">
  	<h1 class="col-lg-12 contentt" style="text-align: center;">Blog Title Goes Here!</h1>
  	<p class="col-lg-12 contentp" style="text-align: center;">Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.</p>
  </div>

  <div class="col-lg-6 pull-right">
  	<img src="assets/videosimac.png" img class="col-lg-12 imacvideos"/>
  </div>
</section>






<section>
  <div class="col-lg-6 pull-right">
  	<h1 class="col-lg-12 contentt" style="text-align: center;"> Forum Title Goes Here! </h1>
  	<p class="col-lg-12 contentp" style="text-align: center;"> Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.Content about videos go here. Content about videos go here.</p>
  </div>

<div class="col-lg-6 pull-left">
<img src="assets/videosimac.png" img class="col-lg-12 imacvideos"/>
</div>


</section>










<div class="col-lg-12">
      <footer>
        <p class="pull-right"><a href="#">top</a></p>
        <p class="pull-left">
    	<small>

            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "TheCodeFather Videos", root_path %></li>
                </li>
                <li><%= link_to "TheCodeFather Blog", '#' %>
                </li>
                <li><%= link_to "TheCodeFather Forum", '#' %>
            </ul>

		</small>
		</p>
        
	<center><p> Copyright@<bR><small>TheCodeFather</small> </p></center>
      </footer> 
</div>
</div>



<!--
<h1>What is the codefather?</h1>
<p> TheCodeFather.com was made in order to help you learn software development skills and techniques! From videos, blogs, and even a community forum, we offer multiple ways to learn...all for FREE. People learn in different ways, and we recognize that, we think it's extremely important to cater to all styles of learning. Remember, don't just learn, be sure to put your newly learned skills into practice!</p> -->